@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button,
  input,
  select,
  textarea {
    @apply appearance-none bg-transparent border-0 outline-none;
  }
}

@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --color-border-brand-default: var(--color-primitives-brand-800);
  --color-primitives-brand-100: rgba(245, 245, 245, 1);
  --color-primitives-brand-800: rgba(44, 44, 44, 1);
  --color-primitives-brand-900: rgba(30, 30, 30, 1);
  --color-text-brand-on-brand: var(--color-primitives-brand-100);
  --m3-headline-medium-emphasized-font-family: "Roboto", Helvetica;
  --m3-headline-medium-emphasized-font-size: 28px;
  --m3-headline-medium-emphasized-font-style: normal;
  --m3-headline-medium-emphasized-font-weight: 500;
  --m3-headline-medium-emphasized-letter-spacing: 0px;
  --m3-headline-medium-emphasized-line-height: 36px;
  --shape-corner-full: 1000px;
  --shape-corner-medium: 12px;
  --size-radius-200: 8px;
  --size-space-200: 8px;
  --size-space-300: 12px;
  --size-space-400: 16px;
  --title-hero-font-family: "Inter", Helvetica;
  --title-hero-font-size: 72px;
  --title-hero-font-style: normal;
  --title-hero-font-weight: 700;
  --title-hero-letter-spacing: -2.16px;
  --title-hero-line-height: 120.00000476837158%;
}

/*

To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:

<body data-color-mode="SDS-light">
    <!-- the rest of your content -->
</body>

You can apply the theme on any DOM node, not just the `body`

*/

[data-color-mode="SDS-light"] {
  --color-border-brand-default: var(--color-primitives-brand-800);
  --color-text-brand-on-brand: var(--color-primitives-brand-100);
}

[data-color-mode="SDS-dark"] {
  --color-border-brand-default: var(--color-primitives-brand-100);
  --color-text-brand-on-brand: var(--color-primitives-brand-900);
}

[data-color-mode="brand-b-light"] {
  --color-border-brand-default: var(--color-primitives-brand-800);
  --color-text-brand-on-brand: var(--color-primitives-brand-100);
}

:root {
  --animate-spin: spin 1s linear infinite;
}

.animate-fade-in {
  animation: fade-in 1s var(--animation-delay, 0s) ease forwards;
}

.animate-fade-up {
  animation: fade-up 1s var(--animation-delay, 0s) ease forwards;
}

.animate-marquee {
  animation: marquee var(--duration) infinite linear;
}

.animate-marquee-vertical {
  animation: marquee-vertical var(--duration) linear infinite;
}

.animate-shimmer {
  animation: shimmer 8s infinite;
}

.animate-spin {
  animation: var(--animate-spin);
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

@keyframes image-glow {
  0% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.74, 0.25, 0.76, 1);
  }

  10% {
    opacity: 0.7;
    animation-timing-function: cubic-bezier(0.12, 0.01, 0.08, 0.99);
  }

  to {
    opacity: 0.4;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes shimmer {
  0%,
  90%,
  to {
    background-position: calc(-100% - var(--shimmer-width)) 0;
  }

  30%,
  60% {
    background-position: calc(100% + var(--shimmer-width)) 0;
  }
}

@keyframes marquee {
  0% {
    transform: translate(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(0);
  }

  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}
